  <div class ="posts">
    <%= form_for message, remote: true do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入れてください。", size: 70, class:"form-text-field"%>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "投稿",class: 'form-submit' %>
    <% end %>
  </div>